/* Estilos originales del formulario y de la sección adicional */
form, .additional-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

form h2, .additional-form h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

form label, .additional-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
}

form input[type="text"],
form input[type="email"],
form textarea,
.additional-form input[type="text"],
.additional-form input[type="email"],
.additional-form input[type="number"],
.additional-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

form textarea,
.additional-form textarea {
    height: 100px;
    resize: none;
}

form button, .additional-form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #023877;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

form button:hover, .additional-form button:hover {
    background-color: #0074c7;
}

form .form-row, .additional-form .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .form-row > div, .additional-form .form-row > div {
    width: 48%;
}

.additional-form .form-row input[type="radio"] {
    margin-left: 10px;
}

.additional-form .form-row label {
    margin-right: 10px;
    color: white;
}

#revisar, #comentarios {
    height: 100px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    form, .additional-form {
        max-width: 100%;
        margin: 20px;
        padding: 15px;
    }

    form h2, .additional-form h2 {
        font-size: 20px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea,
    .additional-form input[type="text"],
    .additional-form input[type="email"],
    .additional-form input[type="number"],
    .additional-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    form button, .additional-form button {
        padding: 10px;
        font-size: 14px;
    }

    form .form-row, .additional-form .form-row {
        flex-direction: column;
    }

    form .form-row > div, .additional-form .form-row > div {
        width: 100%;
    }

    .form-row input[type="radio"] {
        margin-left: 0;
    }
}
